$board-size: 600px;
$board-border-width: 3px;
$square-size: $board-size/3;

@media screen and (max-width: 992px) {
  $board-size: 100vw;
  $square-size: $board-size/3;
}

.board {
  width: $board-size + 2 * $board-border-width;
  height: $board-size + 2 * $board-border-width;
  display: flex;
  flex-wrap: wrap;
  border: $board-border-width solid white;
  border-radius: 10px;
  @media screen and (max-width: 992px) {
    width: calc(90vw + 2 * $board-border-width);
    height: calc(90vw + 2 * $board-border-width);
  }
}

.row {
  width: 100%;
  height: 200px;
  display: flex;
}

.square {
  height: $square-size;
  width: $square-size;
  font-size: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  @media screen and (max-width: 992px) {
    width: 30vw;
    height: 30vw;
  }
}

.active {
  background-color: red;
}
